<span class="loader" *ngIf="agentService.loading | async"></span>
<app-popup *ngIf="agentService.message | async" [message]="(agentService.message | async) ?? 'Whoops'" (close)="agentService.close()"></app-popup>
<div class="h-full ml-14 mt-14 mb-10 md:ml-64 px-6">
    
    <form *ngIf="!moveToNext" #myForm="ngForm" (ngSubmit)="onSubmit(myForm)" >
        <button type="button" (click)="agentService.getOtp().subscribe()" class="border border-indigo-500 bg-indigo-500 text-white rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-indigo-600 focus:outline-none focus:shadow-outline">
            Request OTP(check your phone)
        </button>
        <div class="mb-5">
            <label
              for="fName"
              class="mb-3 block text-base font-medium text-[#07074D]"
            >
            </label>
            <input
                name="code" [(ngModel)]="code"
                type="text"
                id="fName"
                placeholder="Otp code"
                class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 m-2 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
            />
          </div>
        <button type="submit" class="border border-indigo-500 bg-indigo-500 text-white rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-indigo-600 focus:outline-none focus:shadow-outline">
            Verify Otp
        </button>
    </form>

    <form *ngIf="moveToNext" #myForm1="ngForm" (ngSubmit)="resetPassword(myForm1)" >
        <p class="mb-2 text-gray-500 dark:text-gray-400">Changing your password</p>
        <div class="mb-5">
            <label
              for="fName"
              class="mb-3 block text-base font-medium text-[#07074D]"
            >
            </label>
            <input
                name="newPassword" [(ngModel)]="newPassword"
                type="text"
                id="fName"
                placeholder="Enter Your New Password"
                class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 m-2 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
            />
          </div>
        <button type="submit" class="border border-indigo-500 bg-indigo-500 text-white rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-indigo-600 focus:outline-none focus:shadow-outline">
            Submit
        </button>
    </form>
</div>
