<!-- component -->
<div class="py-16 bg-blue-50">  
    <div class="container m-auto px-6 text-gray-500 md:px-12 xl:px-0">
        <div class="mx-auto grid gap-6 md:w-3/4 lg:w-full lg:grid-cols-3">
            <div class="bg-white rounded-2xl shadow-xl px-8 py-12 sm:px-12 lg:px-8">
                <div class="mb-12 space-y-4">
                    <h3 class="text-2xl font-semibold text-purple-900">Fast Pay</h3>
                    <p class="mb-6">Introducing Fast Pay, the convenient and secure way to handle all your bill payments. With Fast Pay, you can easily manage your financial obligations with just a few clicks, saving you time and eliminating the hassle of traditional payment methods.

                        </p>
                    <a [routerLink]="['/welcome', 'login']" class="block font-medium text-purple-600">Know more</a>
                </div>
                <img src="../../../assets/images/fast.svg" class="w-2/3 ml-auto -mb-12" alt="illustration" loading="lazy" width="900" height="600">
            </div>
            <div class="bg-white rounded-2xl shadow-xl px-8 py-12 sm:px-12 lg:px-8">
                <div class="mb-12 space-y-4">
                    <h3 class="text-2xl font-semibold text-purple-900">Fast Delivery</h3>
                    <p class="mb-6">Introducing Fast Delivery, your go-to service for quick and reliable deliveries. Whether you need to send a package across town or receive an important shipment, we've got you covered with our efficient and secure delivery solutions.

                        </p>
                    <a [routerLink]="['/welcome', 'login']" class="block font-medium text-purple-600">Know more</a>
                </div>
                <img src="../../../assets/images/delivery.svg" class="w-2/3 ml-auto" alt="illustration" loading="lazy" width="900" height="600">
            </div>
            <div class="bg-white rounded-2xl shadow-xl px-8 py-12 sm:px-12 lg:px-8">
                <div class="mb-12 space-y-4">
                    <h3 class="text-2xl font-semibold text-purple-900">Secure Pay</h3>
                    <p class="mb-6">At our core, we prioritize the security of your financial transactions above all else. We understand that when it comes to payments, peace of mind is paramount. That's why we have implemented robust security measures to ensure that your personal and financial information remains safe and protected at all times.

                        </p>
                    <a [routerLink]="['/welcome', 'login']" class="block font-medium text-purple-600">Know more</a>
                </div>
                <img src="../../../assets/images/secure.svg" class="w-2/3 ml-auto " alt="illustration" loading="lazy" width="900" height="600">
            </div>
        </div>
    </div>
</div>