<form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">

    
    <div class="flex items-center justify-center space-x-2">
        <span class="h-px w-20 bg-gray-300"></span>
        <span class="text-gray-400 font-normal">Informations personnelles</span>
        <span class="h-px w-20 bg-gray-300"></span>
    </div>

<!--Partie 1: les champs à remplir-->

    <div class="form-row">
        <div class="col">
          <input type="text" class="form-control, w-full text-base px-4 py-2 border-b border-gray-300 focus:outline-none rounded-2xl focus:border-indigo-500" placeholder="Nom*" name="nom" [(ngModel)]="user.nom">
        </div>
        <div class="col">
          <input type="text" class="form-control, w-full text-base px-4 py-2 border-b border-gray-300 focus:outline-none rounded-2xl focus:border-indigo-500" placeholder="Prénom*" name="prenom" [(ngModel)]="user.prenom">
        </div>
    </div>

    <div class="form-row">
        <div class="col">
          <input type="text" class="form-control, w-full text-base px-4 py-2 border-b border-gray-300 focus:outline-none rounded-2xl focus:border-indigo-500" placeholder="Date de naissance" name="dateNaissance" [(ngModel)]="user.dateNaissance">
        </div>
        <div class="col">
          <input type="text" class="form-control, w-full text-base px-4 py-2 border-b border-gray-300 focus:outline-none rounded-2xl focus:border-indigo-500" placeholder="Adresse" name="adresse" [(ngModel)]="user.adresse">
        </div>
    </div>

    <div class="form-row">
        <div class="col">
            <div class="form-group">
                <label for="inputpiece">Pièce d'identité*</label>
                <select class="form-control, w-full text-base px-4 py-2 border-b border-gray-300 focus:outline-none rounded-2xl focus:border-indigo-500" id="inputpiece" name="pièceIdentité" [(ngModel)]="user.pieceIdentite">
                <option>C.I.N</option>
                <option>Passeport</option>
                <option>carte de résidence</option>
                </select>
            </div>
        </div>
        <div class="col">
          <input type="text" class="form-control, w-full text-base px-4 py-2 border-b border-gray-300 focus:outline-none rounded-2xl focus:border-indigo-500" placeholder="Numéro pièce d'identité*" name="numPIdentite" [(ngModel)]="user.numPIdentite">
        </div>
    </div>

    <div class="form-row">
        <div class="col">
          <input type="email" class="form-control, w-full text-base px-4 py-2 border-b border-gray-300 focus:outline-none rounded-2xl focus:border-indigo-500" placeholder="Email*" name="email" [(ngModel)]="user.email">
        </div>
        <div class="col">
          <input type="text" class="form-control, w-full text-base px-4 py-2 border-b border-gray-300 focus:outline-none rounded-2xl focus:border-indigo-500" placeholder="Comfirmation Email" name="confirmEmail" [(ngModel)]="user.confirmEmail">
        </div>
    </div>

    <div class="form-row">
        <div class="col">
          <input type="text" class="form-control, w-full text-base px-4 py-2 border-b border-gray-300 focus:outline-none rounded-2xl focus:border-indigo-500" placeholder="Numéro de telephone*" name="numTel" [(ngModel)]="user.numTel">
        </div>
        <div class="col">
          <input type="text" class="form-control, w-full text-base px-4 py-2 border-b border-gray-300 focus:outline-none rounded-2xl focus:border-indigo-500" placeholder="Numéro d'immatriculation au registre de commerce*" name="numImmatriculation" [(ngModel)]="user.numImmatriculation">
        </div>
    </div>

    <div class="form-row">
        <div class="col">
          <input type="text" class="form-control, w-full text-base px-4 py-2 border-b border-gray-300 focus:outline-none rounded-2xl focus:border-indigo-500" placeholder="Numéro de patente*" name="numPatente" [(ngModel)]="user.numPatente">
        </div>
        <div class="col">
          
        </div>
    </div>

<!--Partie 2: fichier a inclure et la description-->

    <div class="flex items-center justify-center space-x-2">
        <span class="h-px w-20 bg-gray-300"></span>
        <span class="text-gray-400 font-normal">Pièces jointes</span>
        <span class="h-px w-20 bg-gray-300"></span>
    </div>

    <div class="form-row">
        <div class="col">
            <label for="Description">Description</label>
            <textarea class="form-control, w-full text-base px-4 py-2 border-b border-gray-300 focus:outline-none rounded-2xl focus:border-indigo-500" rows="1" id="Description" name="description" [(ngModel)]="user.description"></textarea>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="ControlFile">Fichier</label>
                <input type="file" class="form-control-file" id="ControlFile" name="controlFile" [(ngModel)]="user.controlFile">
              </div>
        </div>
    </div>

<!--Validation ou annulation-->

      <button type="submit" >Enregistrer</button>
      <button (click)="annuler()">Annuler</button>
</form>
