<div class="h-full ml-14 mt-14 mb-10 md:ml-64">
	<span class="loader" *ngIf="clientsService.loading | async"></span>
    <!-- component -->
<div class="bg-white p-8 rounded-md w-full">
	<div class="">
		<div>
			<h2 class="text-gray-600 font-semibold">Current clients requests</h2>
			<span class="text-xs"></span>
		</div>
		<p style="color: gray;" *ngIf="(clientsService.unverifiedClients$ | async)?.length===0">No requests have been sent yet</p>
		<div class="" *ngFor="let user of clientsService.unverifiedClients$ | async" style="border: 1px solid rgb(210, 210, 223); padding: 0.3rem; margin-bottom: 0.5rem;">
			<div class=""  style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap; gap: 1rem; width: 100%;">
				<h6 style="border: 1px solid pink; padding: 0.5rem; border-radius: 0.5rem;"><span>Username:</span> {{user.username}}</h6>
				<p style="border: 1px solid pink; padding: 0.5rem; border-radius: 0.5rem;"><span>Email:</span>{{user.email}}</p>
				<p style="border: 1px solid pink; padding: 0.5rem; border-radius: 0.5rem;"><span>Phone:</span>{{user.phoneNumber}}</p>
				<p style="border: 1px solid pink; padding: 0.5rem; border-radius: 0.5rem;"><span>Cin:</span>{{user.cin}}</p>
			</div>
			<button (click)="acceptClient(user.username)" style="background-color: red; padding: 0.2rem 1rem; margin-bottom: 0.5rem; margin-top: 0.5rem; color: rgb(236, 243, 243); border-radius: 1rem;">Accept</button>
		</div>
	
	</div>
</div>