<!-- component -->
<div class="py-16 bg-white">  
    <div class="container m-auto px-6 text-gray-600 md:px-12 xl:px-6">
        <div class="space-y-6 md:space-y-0 md:flex md:gap-6 lg:items-center lg:gap-12">
          <div class="md:5/12 lg:w-5/12">
            <img src="https://tailus.io/sources/blocks/left-image/preview/images/startup.png" alt="image" loading="lazy" width="" height="">
          </div>
          <div class="md:7/12 lg:w-6/12">
            <h2 class="text-2xl text-gray-900 font-bold md:text-4xl">Passionate Team of Web Developers Ready to Bring Your Vision to Life</h2>
            <p class="mt-6 text-gray-600">EnsaBill is revolutionizing the way you pay your bills by providing a seamless and convenient platform that puts you in control. With our user-friendly app, you can say goodbye to the hassle of traditional bill payments and experience a new level of efficiency. Whether it's utilities, telecommunications, or any other recurring expenses, EnsaBill simplifies the process, allowing you to manage and settle your bills effortlessly.</p>
            <p class="mt-4 text-gray-600">Our team of dedicated developers has poured their passion into creating EnsaBill, ensuring that every aspect of the app is designed with your needs in mind. We understand the frustration of dealing with multiple payment platforms and juggling due dates. That's why we've built EnsaBill to centralize all your bills in one place, providing you with a comprehensive overview and timely reminders. Stay on top of your payments with ease, avoiding late fees and saving valuable time.</p>
          </div>
        </div>
    </div>
  </div>