<div>
<aside class="relative overflow-hidden text-black rounded-lg sm:mx-16 mx-2 sm:py-16">
    <div class="relative z-10 max-w-screen-xl px-4  pb-20 pt-10 sm:py-24 mx-auto sm:px-6 lg:px-8">
      <div class="max-w-xl sm:mt-1 mt-80 space-y-8 text-center sm:text-right sm:ml-auto">
        <h2 class="text-4xl font-bold sm:text-5xl">
          Pay From Home & Don't Leave Your Computer
          <span class="hidden sm:block text-4xl">
            Yes It's True
          </span>
        </h2>
    
        <div class="btns flex gap-4 mt-8">
          <a [routerLink]="['/welcome', 'login']" class="inline-flex text-center text-white items-center px-6 py-2 font-medium bg-red-500 rounded-3xl hover:opacity-75">
            &nbsp;  Login
           </a>
           <a [routerLink]="['/welcome', 'signup']" class="inline-flex text-center text-white items-center px-6 py-2 font-medium bg-red-500 rounded-3xl hover:opacity-75">
            &nbsp;  Sign Up
           </a>
        </div>
        
      </div>
    </div>
    
    <div class="absolute inset-0 w-full sm:my-20 sm:pt-1 pt-12 h-full ">
      <img class="w-96" src="https://i.ibb.co/5BCcDYB/Remote2.png"  />
    </div>
    </aside>
    
    <div class="grid  place-items-center sm:mt-20">
    <img class="sm:w-96 w-48" src="https://i.ibb.co/2M7rtLk/Remote1.png"  />
    </div>
    
    
    <h1 class="text-center text-2xl sm:text-5xl py-10 font-medium">With EnsaBill, It's All In One Place</h1>
    <div class="grid grid-cols-1 lg:grid-cols-2 sm:grid-cols-2 text-center mx-6 sm:mx-48 gap-x-5 gap-y-5 my-10">
    
    
    </div>
    
      </div>