<span class="loader" *ngIf="clientService.loading | async"></span>
<app-popup *ngIf="clientService.message | async" [message]="(clientService.message | async) ?? 'Whoops'" (close)="clientService.close()"></app-popup>


<form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="w-full max-w-md mx-auto h-full ml-14 mt-14 mb-10 md:ml-64 px-4 new__client">
  <div class="flex items-center justify-center space-x-2">
      <span class="h-px w-20 bg-gray-300"></span>
      <span class="text-gray-400 font-normal">Informations personnelles</span>
      <span class="h-px w-20 bg-gray-300"></span>
  </div>

<!--Partie 1: les champs à remplir-->

  <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full md:w-1/2 px-3" >
        <input type="text" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" placeholder="Email" name="email" [(ngModel)]="user.email">
      </div>
      <div class="w-full md:w-1/2 px-3">
        <input type="text" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" placeholder="phoneNumber(212612218950)" name="phoneNumber" [(ngModel)]="user.phoneNumber"
        required minlength="3"
        #firstNameVar="ngModel"
        [ngClass]="{'is-invalid':firstNameVar.touched && !firstNameVar.valid}">
        <div class="invalid-feedback">
          <span *ngIf="firstNameVar.errors?.['required']">Champs Obligatoire</span>
          <span *ngIf="firstNameVar.errors?.['minlength']">Minimum 3 charactères</span>
        </div>
      </div>
  </div>

  <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <input type="text" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" placeholder="Date de naissance(2001/28/09)" name="dateNaissance" [(ngModel)]="user.dob">
      </div>
      <div class="w-full md:w-1/2 px-3">
        <input type="text" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" placeholder="Cin(Y783489)" name="adresse" [(ngModel)]="user.cin">
      </div>
  </div>

  <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <input type="text" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" placeholder="firstName(Slim)" name="firstName" [(ngModel)]="user.firstName">
      </div>
      <div class="w-full md:w-1/2 px-3">
        <input type="text" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" placeholder="lastName(shady)" name="lastName" [(ngModel)]="user.lastName">
      </div>
  </div>

  <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <input type="text" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" placeholder="Username(Eminem)" name="username" [(ngModel)]="user.username">
      </div>
      <div class="w-full md:w-1/2 px-3">
        
      </div>
  </div>

<div class="flex justify-end">
  <button type="submit" class="bg-yellow-500 hover:bg-yellow-600 text-white font-bold py-2 px-4 rounded mr-2">
     Submit
  </button>
</div>
</form>
